<!DOCTYPE html>
<html lang="mul">
    <head>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <title>About semesterplanner</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,400" rel="stylesheet" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110570748-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-110570748-1');
        </script>
    </head>
    <body>
        <div style="padding:30px;width:55%">
            <h1>About semesterPlanner</h1>
            <p>SemesterPlanner is a tool that makes it easier UiO-students to plan their schedule. The website is developed and maintained by Simen Mailund Svendsen, and does not have any official affiliations with the University of Oslo.</p>
            <p>All course data is automatically collected from <a href="https://uio.no">uio.no</a>, and might be affected by programming errors or delays in updating. Please verify with the official website before relying on data from semesterPlanner.</p>
            <p>SemesterPlanner is open source! If you want to contribute, please check out the <a href="https://github.com/sMailund/uioPlanner">github repo.</a></p>
            <a href="/"><< go back</a>
        </div>
    </body>
</html>
