<html>
<head>
  <link rel='stylesheet' href='/stylesheets/fullcalendar/fullcalendar.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/scripts.bundle.js' ></script>

  <!--TODO: flytt denne til egen fil-->
  <style>
  #courseSearchBox {
      resize: none;
  }
  </style>
</head>
<body>

  <div id="wrapper">

    <div id="flex">


      <div id="addCourseDiv">
        <input type="text" id="courseSearchBox" onkeyup="window.searchControll.renderSuggestions()"/>
        <div id="results" class="overlay"></div>
        <div id="courses"></div>
      </div>

      <div id='calendar'></div>

    </div>

  </div>


</body>
</html>
