<html>
<head>
  <link rel='stylesheet' href='/stylesheets/fullcalendar/fullcalendar.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/scripts.bundle.js' ></script>

  <!--TODO: flytt denne til egen fil-->
  <style>
  #courseSearchBox {
      resize: none;
  }
  </style>
</head>
<body>
  <div id="addCourseDiv">
    <input type="text" id="courseSearchBox" onkeyup="window.searchControll.renderSuggestions()"/>
    <div id="results" class="overlay"/>
    <button id="addCourse">Add Course</button>
  </div>
  <div id="courses">

  </div>
  <button id="click">add lecture</button>
  <button id="loadpg">load course</button>
  <div id='calendar'></div>

</body>
</html>
