<html>
<head>
  <link rel='stylesheet' href='/stylesheets/fullcalendar/fullcalendar.css' />
  <script src='/javascripts/scripts.bundle.js' ></script>
</head>
<body>
  <p>
    hello world
  </p>
  <button id="addCourse">Add Course</button>
  <div id="courses">

  </div>
  <button id="click">add lecture</button>
  <div id='calendar'></div>

</body>
</html>
