<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel='stylesheet' href='/stylesheets/fullcalendar/fullcalendar.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Lato:100,400" rel="stylesheet" />
  <script src='/javascripts/scripts.bundle.js' ></script>
</head>
<body>

  <div id="wrapper">
    <div id="content">

      <div id="header">
        semesterPlanner
      </div>

      <div id="flex">
        <div id="addCourseDiv" class="contentBox">
          <input type="text"
            id="courseSearchBox"
            placeholder="Search for a course"
            onkeyup="window.searchControll.renderSuggestions()"/>
          <div id="results" class="overlay"></div>
          <div id="courses"></div>
        </div>
        <div id="calendar"></div> <!--fullcalendar target -->
      </div>

    </div>

    <div id="footer">
      <div id="contact">
        <a href="https://github.com/sMailund">github.com/sMailund</a> |
        <a href="mailto:contactsemesterplanner@gmail.com">contactsemesterplanner@gmail.com</a>
      </div>
    </div>
  </div>

</body>
</html>
