<html>
<head>
  <link rel='stylesheet' href='/static/stylesheets/fullcalendar/fullcalendar.css' />

</head>
<body>
  <p>
    hello world
    <div id='calendar'></div>
  </p>
  <script src='/static/javascripts/scripts.bundle.js'></script>
</body>
</html>
