.overlay {
  position: absolute;
  z-index: 10000; /*draw absolutely on top (to overcome z-index 9999 from fullcalendar)*/
}

.suggestionBox {
  background-color: grey;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 12px 20px 12px 20px;
}

.suggestionBox:hover {
  background-color: red;
}

#truncated {
  background-color: grey; /* disable hover for truncated results */
}
